{
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  },
  "plugins": [
    ["babel-root-import", {
      "rootPathSuffix": "src/"
    }]
  ]
}
